<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 250px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: contain; background-repeat: no-repeat;  background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-success opacity-8"></span>
  <!-- Header container -->
 
</div>
<div class="container-fluid mt--7">
  <div *ngIf = "showSuccessMessage" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="showSuccessMessage = false">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div *ngIf = "showErrorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> {{errorMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="showErrorMessage = false">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img [src]="customerProfile?customerProfile.IMAGE_PATH:''" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div> -->
        <div class="card-body pt-0 pt-md-4">
          <!-- <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div> -->
          <div class="text-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>
              {{customerProfile.NAME ? customerProfile.NAME : 'NA' }}<span class="font-weight-light">, Customer ID: {{customerProfile.ID ? customerProfile.ID : 'NA'}}</span>
            </h2>
             <div *ngIf = "!highlightPendingPayment" class="h5 font-weight-500">
               <h2>
                <i class="ni location_pin mr-2"></i><B style="color: green;">Payment Status: {{paymentStatus}}</B>
               </h2>
             </div>
            <div *ngIf = "highlightPendingPayment" class="h5 font-weight-500">
              <h2>
                <i class="ni location_pin mr-2"></i><B style="color: red;">Payment Status: {{paymentStatus}}</B>
              </h2>
            </div>
            <!--<div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer Science
            </div>
            <hr class="my-4" />
            <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p> -->
            <!-- <a href="javascript:void(0)">Show more</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">CUSTOMER ID : {{customerProfile.ID ? customerProfile.ID : 'NA'}}</h3>
            </div>
            <div class="col-4 text-right">
              <a class="btn btn-sm btn-success" (click)="handleSave();">Save</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">User information
              <div class="col-lg-6" style="float:right">
                Customer Active?
                <label class="custom-toggle" style="float:right">
                  <input type="checkbox"  [checked]="customerProfile.STATUS" (change)="customerProfile.STATUS = !customerProfile.STATUS">
                  <span class="custom-toggle-slider rounded-circle"></span>
                </label>
              </div>
             </h6>
            <div class="pl-lg">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Name</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Name" [(ngModel)] = "customerProfile.NAME" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Date of Birth</label>
                    <input type="date" id="input-dob" class="form-control form-control-alternative" placeholder="Date of Birth" [(ngModel)] = "customerProfile.DOB" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Phone</label>
                    <input type="text" id="input-phone" class="form-control form-control-alternative" placeholder="Phone" [(ngModel)] = "customerProfile.PHONE" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Email</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="Email" [(ngModel)] = "customerProfile.EMAIL" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Image</label>
                    <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />  
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Reference Customer ID</label>
                    <input type="number" id="input-reference" class="form-control form-control-alternative" placeholder="Reference Customer ID" [(ngModel)] = "customerProfile.REFERENCE" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Address</label>
                    <textarea class="form-control" id="Address" rows="3" [(ngModel)] = "customerProfile.ADDRESS" [ngModelOptions]="{standalone: true}"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngIf = "_Id">
              <hr class="my-4" />
              <div class="col-12 text-right">
                <a class="btn btn-sm btn-success" (click)="exportData(customerPayments, 'Customer Payments');">Download as Excel</a>
                <a class="btn btn-sm btn-success" (click)="addNew('Customer Payments');">Add New Payment</a>
              </div>
              <h6 class="heading-small text-muted mb-4">Recent Payments</h6>
              <div class="pl-lg">
                <div class="row">
                  <div class="col">
                    <div class="card shadow">
                      <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                          <thead class="thead">
                            <tr>
                              <th scope="col">PAYMENT AMOUNT</th>
                              <th scope="col">PAYMENT DATE</th>
                              <th scope="col">EFECTIVE DATE</th>
                              <th scope="col">END DATE</th>
                              <th scope="col">ACTIONS</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let customerPayment of customerPayments">
                              <td>
                                <input type="text" id="input-PAYMENT_AMOUNT" class="form-control form-control-alternative" [disabled] = "customerPayment.readonly == 'true'"  [(ngModel)] = "customerPayment.PAYMENT_AMOUNT" [ngModelOptions]="{standalone: true}">
                              </td>
                              <td>
                                <input type="date" id="input-PAYMENT_DATE" class="form-control form-control-alternative" [disabled] = "customerPayment.readonly == 'true'"  [(ngModel)] = "customerPayment.PAYMENT_DATE" [ngModelOptions]="{standalone: true}">
                              </td>
                              <td>
                                <input type="date" id="input-EFFECTIVE_DATE" class="form-control form-control-alternative" [disabled] = "customerPayment.readonly == 'true'"  [(ngModel)] = "customerPayment.EFFECTIVE_DATE" [ngModelOptions]="{standalone: true}">
                              </td>
                              <td>
                                <input type="date" id="input-END_DATE" class="form-control form-control-alternative" [disabled] = "customerPayment.readonly == 'true'"  [(ngModel)] = "customerPayment.END_DATE" [ngModelOptions]="{standalone: true}">
                              </td>
                              <td>
                                <a class="btn btn-sm btn-secondary" *ngIf = "customerPayment.readonly == 'true'" (click)="customerPayment.readonly = 'false'">Edit</a>
                                <a class="btn btn-sm btn-secondary" *ngIf = "customerPayment.readonly != 'true'"  (click)="saveCustomerPayment(customerPayment);">Save</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <div class="col-12 text-right">
                <a class="btn btn-sm btn-success" (click)="exportData(customerMeasurements, 'Customer Measurements');">Download as Excel</a>
                <a class="btn btn-sm btn-success" (click)="addNew('Customer Measurements');">Add New Measurement</a>
              </div>
              <div class="pl-lg">
                <div class="row">
                  <div class="col">
                    <div class="card shadow">
                      <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                          <thead class="thead">
                            <tr>
                              <th scope="col">WEIGHT IN KG</th>
                              <th scope="col">HEIGHT IN FEET</th>
                              <th scope="col">SHOULDER IN CM </th>
                              <th scope="col">CHEST IN CM</th>
                              <th scope="col">ARMS IN CM</th>
                              <th scope="col">ABDOMEN IN CM</th>
                              <th scope="col">THIGHS IN CM</th>
                              <th scope="col">DATE OF MEASUREMENT</th>
                              <th scope="col">ACTIONS</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let customerMeasurement of customerMeasurements">
                              <td>
                                <input type="text" id="input-WEIGHT" class="form-control form-control-alternative" [disabled] = "customerMeasurement.readonly == 'true'"  [(ngModel)] = "customerMeasurement.WEIGHT" [ngModelOptions]="{standalone: true}">
                              </td>
                              <td>
                                <input type="text" id="input-HEIGHT" class="form-control form-control-alternative" [disabled] = "customerMeasurement.readonly == 'true'"  [(ngModel)] = "customerMeasurement.HEIGHT" [ngModelOptions]="{standalone: true}">
                              </td>
                              <td>
                                <input type="text" id="input-SHOULDER" class="form-control form-control-alternative" [disabled] = "customerMeasurement.readonly == 'true'"  [(ngModel)] = "customerMeasurement.SHOULDER" [ngModelOptions]="{standalone: true}">
                              </td>
                              <td>
                                <input type="text" id="input-CHEST" class="form-control form-control-alternative" [disabled] = "customerMeasurement.readonly == 'true'"  [(ngModel)] = "customerMeasurement.CHEST" [ngModelOptions]="{standalone: true}">
                              </td>
                              <td>
                                <input type="text" id="input-ARMS" class="form-control form-control-alternative" [disabled] = "customerMeasurement.readonly == 'true'"  [(ngModel)] = "customerMeasurement.ARMS" [ngModelOptions]="{standalone: true}">
                              </td>
                              <td>
                                <input type="text" id="input-ABS" class="form-control form-control-alternative" [disabled] = "customerMeasurement.readonly == 'true'"  [(ngModel)] = "customerMeasurement.ABS" [ngModelOptions]="{standalone: true}">
                              </td>
                              <td>
                                <input type="text" id="input-THIGHS" class="form-control form-control-alternative" [disabled] = "customerMeasurement.readonly == 'true'"  [(ngModel)] = "customerMeasurement.THIGH" [ngModelOptions]="{standalone: true}">
                              </td>
                              <td>
                                <input type="date" id="input-ENTRY_DATE" class="form-control form-control-alternative" [disabled] = "!0"  [(ngModel)] = "customerMeasurement.ENTRY_DATE" [ngModelOptions]="{standalone: true}">
                              </td>
                              <td>
                                <a class="btn btn-sm btn-secondary" *ngIf = "customerMeasurement.readonly == 'true'" (click)="customerMeasurement.readonly = 'false'">Edit</a>
                                <a class="btn btn-sm btn-secondary" *ngIf = "customerMeasurement.readonly != 'true'"  (click)="saveCustomerMeasurement(customerMeasurement);">Save</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <div class="col-12 text-right">
                <a class="btn btn-sm btn-success" (click)="exportData(customerActivities, 'Customer Activities');">Download as Excel</a>
                <!-- <a class="btn btn-sm btn-success" (click)="addNew('Customer Activities');">Add New Activity</a> -->
              </div>
              <h6 class="heading-small text-muted mb-4">Recent Activities</h6>
              <div class="pl-lg">
                <div class="row">
                  <div class="col">
                    <div class="card shadow">
                      <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                          <thead class="thead">
                            <tr>
                              <th scope="col">IN TIME</th>
                              <th scope="col">OUT TIME</th>
                              <th scope="col">DURATION</th>
                              <!-- <th scope="col">ACTIONS</th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let customerActivity of customerActivities">
                              <td>
                                {{customerActivity.IN_TIME | date:'dd-MM-yyyy hh:mm:ss a'}}
                              </td>
                              <td>
                               {{customerActivity.OUT_TIME | date:'dd-MM-yyyy hh:mm:ss a'}}
                              </td>
                              <td>
                                {{customerActivity.DURATION}}
                              </td>
                              <!-- <td>
                                <a class="btn btn-sm btn-secondary" *ngIf = "customerActivity.readonly == 'true'" (click)="customerActivity.readonly = 'false'">Edit</a>
                                <a class="btn btn-sm btn-secondary" *ngIf = "customerActivity.readonly != 'true'"  (click)="saveCustomerActivity(customerActivity);">Save</a>
                              </td> -->
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
